<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aitorvs.android.fingerlock.dialog">

    <application>

        <activity
            android:name="com.aitorvs.android.fingerlock.FingerprintVerificationActivity"
            android:label="@string/sign_in"
            android:theme="@android:style/Theme.Dialog" />

    </application>

</manifest>
